<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MyTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="uploaddir" value="upload" />
    <add key="tempdir" value="temp" />
    <!--宫格验证码形式  m*n-->
    <add key="vcCodeLimitType" value="3*4" />
    <!--是否显示横纵坐标线-->
    <add key="isShowCoordinateLine" value="false" />
    <!--坐标线颜色-->
    <add key="vcCodeCellLineColor" value="686868" />
    <!--背景图文件夹所在路径，注意路径斜线不要变了-->
    <add key="normalBgFolderPath" value="VcCode\Resource\VcBackgroundImg\normal\" />
    <add key="advancedBgFolderPath" value="VcCode\Resource\VcBackgroundImg\advanced\" />
    <!--字符所在txt文件的地址-->
    <add key="txtPath" value="VcCode\Resource\text.txt" />
    <!--每个汉字中心是否显示一个红点-->
    <add key="ifCenterRedPointExist" value="false" />
    <!--字号字体颜色-->
    <add key="vcCodeFontSize" value="20" />
    <add key="vcCodeFontFamily" value="宋体,新宋体,黑体, 微软雅黑, 隶书, 仿宋, 楷体" />
    <add key="vcCodeHexColorList" value="9cb6da,d3bccf,b2c2a3,cdcdcd,b4d4d9,d4accd,cecfa7,d7b8d7,b26e5b,8ba78a" />
    <!--验证码里的字符的旋转角度范围，以°为单位，建议尽量写“对称”-->
    <add key="vcCodeCharRotateRange" value="-45,45" />
    <!--验证码里的字符为空白的占比，以百分比为单位-->
    <add key="vcCodeCharSpaceRate" value="0.3,0.5" />
    <!--干扰线-->
    <add key="isInterferenceLineActive" value="true" />
    <add key="interferenceLineNumber" value="3" />
    <add key="vcinterferenceLineColorList" value="9cb6da,d3bccf,b2c2a3,cdcdcd,b4d4d9,d4accd,cecfa7,d7b8d7,b26e5b,8ba78a" />
    <!--噪点-->
    <add key="isImageNoiseActive" value="true" />
    <add key="imageNoiseNumber" value="100" />
    <add key="imageNoiseColor" value="ffffd7" />
    <add key="imageNoisePointDiameter" value="2" />
    <!--图形验证码错误次数-->
    <add key="vcCodeLimitTimes" value="10" />
    <!--图形验证码过期时间(分钟)-->
    <add key="vcCodeOverTimes" value="10" />
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <applicationSettings>
    <MyTest.Properties.Settings>
      <setting name="MyTest_WebReference_upLoadFiles" serializeAs="String">
        <value>http://192.168.1.130:9997/upLoadFiles.asmx</value>
      </setting>
    </MyTest.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>